name: Publish to PyPI

on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

jobs:
  build-and-publish:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install build tools
        run: |
          pip install build twine

      - name: Build package
        run: |
          python -m build

      - name: Publish to TestPyPI # Publish to PyPI
        env:
          TWINE_USERNAME: ${{ secrets.TEST_PYPI_USERNAME }} # PYPI_USERNAME
          TWINE_PASSWORD: ${{ secrets.TEST_PYPI_PASSWORD }} # PYPI_PASSWORD  # twine upload dist/*
        run: |
          twine upload --verbose --repository-url https://test.pypi.org/legacy/ dist/* 
          
          
